{% extends 'admin/layouts/body_card.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('admin_user_profile_show') }}">Profile</a></li>
    <li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block actions %}
    <a href="{{ path('admin_user_profile_show') }}" class="btn btn-outline-secondary btn-sm shadow-sm">
        <i class="fas fa-eye fa-sm fa-fw"></i> Show
    </a>
{% endblock %}

{% block content %}
    {% include'admin/user/profile/_form.html.twig' %}
{% endblock %}
