{% extends 'admin/layouts/body_card.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block breadcrumbs %}
    {% include 'admin/_embed/_card/_breadcrumbs.html.twig' with {
        'indexAction': path('admin_user_profile_show'), 'indexTitle': 'Profile', 'actionTitle': 'Edit'
    } %}
{% endblock %}

{% block actions %}
    <a href="{{ path('admin_user_profile_show') }}" class="btn btn-outline-secondary btn-sm shadow-sm">
        <i class="fas fa-eye fa-sm fa-fw"></i> Show
    </a>
{% endblock %}

{% block content %}
    {% include'admin/user/profile/_form.html.twig' %}
{% endblock %}
