<div class="card mb-4">
    <div class="card-header">
        <h3 class="lead mb-0">Categories</h3>
    </div>
    <div class="card-body">
        {% for menuCategory in menuCategories %}
            <p><a href="#" class="card-text">{{ menuCategory.name }}</a></p>
        {% endfor %}
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <h3 class="lead mb-0">Recent posts</h3>
    </div>
    <div class="card-body">
        {% for recentPost in recentPosts %}
            <p><a href="#" class="card-text">{{ recentPost.title }}</a></p>
        {% endfor %}
    </div>
</div>
