<div class="card mb-4">
    <div class="card-header">
        <h3 class="lead mb-0">Categories</h3>
    </div>
    <div class="card-body">
        <p><a href="#" class="card-text">Linux</a></p>
        <p><a href="#" class="card-text">Symfony</a></p>
        <p><a href="#" class="card-text">Laravel</a></p>
        <p><a href="#" class="card-text">Slim</a></p>
        <p><a href="#" class="card-text">Python</a></p>
        <p><a href="#" class="card-text">Django</a></p>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <h3 class="lead mb-0">Recent posts</h3>
    </div>
    <div class="card-body">
        <p><a href="#" class="card-text">With supporting text below as a natural</a></p>
        <p><a href="#" class="card-text">There was a paper label</a></p>
        <p><a href="#" class="card-text">First, however, she again heard a little worried</a></p>
    </div>
</div>
