{% extends 'admin/layouts/body_card.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('admin_user_index') }}">Users</a></li>
    <li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block actions %}
    {% include 'admin/_embed/_card/_actions.html.twig' with {'entity': user} %}
{% endblock %}

{% block content %}
    {% include'admin/user/_form.html.twig' %}
{% endblock %}
