{% extends 'admin/layouts/body_card.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('admin_blog_category_index') }}">Blog Categories</a></li>
    <li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block actions %}
    {% include 'admin/_embed/_card/_actions.html.twig' with {'entity': category} %}
{% endblock %}

{% block content %}
    {% include'admin/blog/category/_form.html.twig' %}
{% endblock %}
