<div class="modal fade" id="addTagModal" tabindex="-1" aria-labelledby="addTagModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTagModalLabel">Add New Tag</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% form_theme formTag 'bootstrap_5_layout.html.twig' %}
            {{ form_start(formTag, {'action': path('admin_blog_post_tag_new')}) }}
            <div class="modal-body">
                {{ form_widget(formTag) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-add-tag">
                    <i class="fa fa-save fa-fw"></i> Save
                </button>
            </div>
            {{ form_end(formTag) }}
        </div>
    </div>
</div>
