{% extends 'front/layouts/body.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block content %}
    <div class="card mt-2">
        <div class="card-header">
            <h3>Home Page</h3>
        </div>
        <div class="card-body">
            <p class="lead">Hello from {{ controller_name }}</p>
        </div>
    </div>
{% endblock %}
