{% extends 'front/layouts/body.html.twig' %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            {% include 'front/_embed/_posts.html.twig' with {'posts': posts} %}
        </div>
    </div>
{% endblock %}
