{% extends 'front/layouts/body.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1 class="display-6">Home</h1>
            <p class="lead">Hello from {{ controller_name }}</p>
        </div>
    </div>
{% endblock %}
