{% extends 'front/layouts/body.html.twig' %}

{% block content %}

    {% for post in posts %}
        <article class="blog-post">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            <p class="blog-post-meta">{{ post.createdAt|date('Y-m-d H:i') }}</p>
            <p>{{ post.preview }}</p>
            <p><a href="#">Читать далее...</a></p>
        </article>
    {% endfor %}
    <div class="blog-pagination">
    {{ knp_pagination_render(posts) }}
    </div>

{% endblock %}
