{% extends 'admin/layouts/body_card.html.twig' %}

{% block title %}Edit Tag{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('admin_blog_tag_index') }}">Blog Tags</a></li>
    <li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block actions %}
    {% include 'admin/_embed/_card/_actions.html.twig' with {'entity': tag} %}
{% endblock %}

{% block content %}
    {% include'admin/blog/tag/_form.html.twig' %}
{% endblock %}
