{% if pathEdit is defined %}
    <a href="{{ pathEdit }}" class="btn btn-outline-primary btn-sm">
        <i class="fa fa-pen fa-fw fa-sm"></i>
    </a>
{% endif %}

{% if pathShow is defined %}
    <a href="{{ pathShow }}" class="btn btn-outline-secondary btn-sm">
        <i class="fa fa-eye fa-fw fa-sm"></i>
    </a>
{% endif %}

{% if pathFront is defined %}
    <a href="{{ pathFront }}" class="btn btn-outline-success btn-sm" target="_blank">
        <i class="fas fa-external-link-alt fa-fw fa-sm"></i>
    </a>
{% endif %}

{% if pathDelete is defined %}
    {% include 'admin/_embed/_form/_btn_delete.html.twig' with {'pathDelete': pathDelete, 'entityId': entityId, 'entityTile': entityTile} %}
{% endif %}
