<div class="col-sm-10 offset-sm-2 pt-4 px-1">
    <p class="lead">SEO (Search Engine Optimization)</p>
</div>
{{ form_row(form.seoTitle) }}
{{ form_row(form.seoKeywords) }}
{{ form_row(form.seoDescription) }}
