<div class="col-sm-10 offset-sm-2 pt-4 px-1">
    <p class="lead">SEO (Search Engine Optimization)</p>
</div>
{{ form_row(form.seo_title) }}
{{ form_row(form.seo_keywords) }}
{{ form_row(form.seo_description) }}
