<div class="col-sm-10 offset-sm-2 pt-4 px-1">
    <p class="lead">Tags
        <button id="btnAddTag" class="btn btn-outline-success btn-sm float-sm-end" type="button" data-bs-toggle="modal" data-bs-target="#addTagModal">
            <i class="fas fa-plus fa-sm fa-fw"></i> Add
        </button>
    </p>
</div>
{{ form_row(form.tags) }}
