{% extends 'front/layouts/body.html.twig' %}

{% block title %}Tag {{ tag.name }}{% endblock %}
{% block meta_title %}Tag {{ tag.name }}{% endblock %}
{% block meta_description %}Posts with tag {{ tag.name }}{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <h1 class="display-5">Posts with tag "{{ tag.name }}" </h1>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            {% include 'front/_embed/_posts.html.twig' with {'posts': posts} %}
        </div>
    </div>
{% endblock %}
