{% extends 'front/layouts/body.html.twig' %}

{% block title %}Tags of posts{% endblock %}
{% block meta_title %}Tags of posts{% endblock %}
{% block meta_description %}Tags of posts{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <h1 class="display-5">Tags of posts</h1>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            {% for tag in tags %}
                <h6 class="d-inline">
                    <span class="badge bg-light my-1">
                        <a href="{{ path('front_blog_tag', {'slug': tag.slug}) }}">
                            <small><i class="fas fa-hashtag fa-fw text-muted"></i></small>{{ tag.name }}
                        </a><sup class="text-dark">{{ tag.posts|length }}</sup>
                    </span>
                </h6>
            {% endfor %}
        </div>
    </div>
{% endblock %}
