{% if pathSave is defined %}
    <button class="btn btn-primary btn-sm shadow-sm"><i class="far fa-fw fa-save"></i> Save</button>
{% endif %}

{% if pathAdd is defined %}
    <a href="{{ pathAdd }}" class="btn btn-outline-success btn-sm shadow-sm">
        <i class="fas fa-plus fa-sm fa-fw"></i>
    </a>
{% endif %}

{% if pathShow is defined %}
    <a href="{{ pathShow }}" class="btn btn-outline-secondary btn-sm shadow-sm">
        <i class="fa fa-eye fa-fw fa-sm"></i>
    </a>
{% endif %}

{% if pathEdit is defined %}
    <a href="{{ pathEdit }}" class="btn btn-outline-primary btn-sm shadow-sm">
        <i class="fa fa-pen fa-fw fa-sm"></i>
    </a>
{% endif %}

{% if pathDelete is defined %}
    {% include 'admin/_embed/_form/_btn_delete.html.twig' with {'pathDelete': pathDelete, 'entityId': entityId, 'entityTile': entityTile} %}
    {% include 'admin/_embed/_modal/_confirm_delete.html.twig' %}
{% endif %}
