{% extends 'front/layouts/base.html.twig' %}

{% block body %}
    <header>
        {% include 'front/_embed/_header.html.twig' %}
    </header>
    <main class="flex-shrink-0">
        <div class="container mt-4">
            {% include 'front/_embed/_flash_message.html.twig' %}
            <div class="row">
                <div class="col-lg-9">
                    {% block content %}{% endblock %}
                </div>
                <div class="col-lg-3">
                    {% include 'front/_embed/_sidebar.html.twig' %}
                </div>
            </div>
        </div>
    </main>
    <footer class="footer mt-auto py-3 bg-light">
        {% include 'front/_embed/_footer.html.twig' %}
    </footer>
{% endblock %}
