<div class="d-flex align-items-center justify-content-between small">
    <div class="text-muted">
        Copyright &copy; sf-Blog
        {% set currentYear = 'now'|date('Y') %}
        {% if currentYear == '2021' %}
            {{ currentYear }}
        {% else %}
            2021 - {{ currentYear }}
        {% endif %}
    </div>
    <div>
        <i class="fab fa-github fa-fw"></i>
        <a href="https://github.com/amberlex78/sf-blog" target="_blank">GitHub</a>

        <i class="far fa-file-alt fa-fw"></i>
        <a href="https://github.com/amberlex78/sf-blog/blob/main/LICENSE" target="_blank">License</a>
    </div>
</div>
